<!DOCTYPE html>
<html>
<head>
    <title>Add New Item</title>
</head>
<body>
    <h1>Add New Item</h1>
    <form action="/items" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price">
        <button type="submit">Add Item</button>
    </form>
</body>
</html>
